<h1><%= @contact.full_name %></h1>

<ul class="details">
  <li>Name: <%= @contact.full_name %></li>
  <li>Email: <%= @contact.email %></li>
  <li>Role: <%= @contact.note %></li>
</ul>

<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Edit Contact'>
  <input type='submit' value='Delete Contact'>
</form>
